button.ready {
  display: inherit;
}

button[disabled].button-start, .button-pause, .button-resume {
  display: none;
}

button.button-start, .button-pause, .button-resume {
  width: 80px;
}

.time-display {
  .zero {
    opacity: 0.5
  }
}
